<div class="px-3 py-2 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex justify-content-between align-items-center">
        <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none" routerLink="/">
          <img alt="logo" src="../../assets/img/logo-light.png" width="60">
        </a>
      </div>
      <h2>{{ realHours }}:{{ realMinutes | number: '2.0' }}:{{ realSecondes | number: '2.0' }}</h2>
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a class="nav-link text-white" routerLink="/admin">
            <mat-icon>settings</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
