/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}
